* { background-color: blue; }

/* Select all paragraphs */
p {
  font-size: 1.2rem;
  color: white;
}

/* Select by ID */
#Macedonia {
  background-color: purple;
  color: white;
}

/* Select by class */
.countries {
  color: white;
  font-weight: bold;
}

body {
font-size:20px;
font-family: sans-serif;
color: #FF00FF
}